<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h3>Carrito de la compra</h3>
    <h1>{{title}}</h1>
{{# if products }}
    <div >
        <ul >
            {{# each products }}
            <li >
                <div >
                    <strong>{{ this.item.title }}</strong><br/>
                    <em>{{{this.item.description}}}</em>
                </div>
                <div >
                    <span >{{ this.quantity }}</span>
                </div>
                <div >
                    {{ this.price }}$
                </div>
                <div >
                    <a href="/remove/{{this.item._id}}"> Eliminar</a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div >
        <strong>Total: {{ totalPrice }} $</strong>
    </div>
    <hr>
    <div >
        <a href="#" type="button">Checkout</a>
    </div>
{{ else }}
    El carro esta limpio
{{/if}}
</body>
</html>