<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Prendas Deportivas</title>
</head>

<body>
    <a href="/">Volver a Inicio</a>
    <a href="/cart">Carrito</a>
    <div class="container">
        <h1>Prendas Deportivas</h1>
        <ul>
            {{#each garments}}
            <li>
                <img class="img-players" src="{{img}}">
                <h2> {{clothing}}</h2>
                <h4>Descripción:</h4>
                <p>{{description}}</p>
                <h3>Pvp: {{price}} €</h3>
                <div>
                    <div>
                        <select name="clothing">
                            <option>Selecciona Talla</option>
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                        </select>
                    </div>
                    <div>
                        <a href="/cart/"><button>Añadir al carro</button> </a>
                    </div>
                </div>
            </li>
            {{/each}}
            {{#each bag}}
            <li>
                <img class="img-players" src="{{img}}">
                <h2> {{clothing}}</h2>
                <h4>Descripción:</h4>
                <p>{{description}}</p>
                <h3>Pvp: {{price}} €</h3>
                <div>
                    <div>
                        <select name="clothing">
                            <option>Selecciona Talla</option>
                            <option value="talla unica">TALLA ÚNICA</option>
                        </select>
                    </div>
                    <div>
                        {{!-- <form action="/add/{{ this.id }}" method="POST"> --}}
                        <a href="/cart/"><button>Añadir al carro</button> </a>
                            {{!-- <button type="submit">Añadir al carrito</button> --}}
                        </form>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</body>

</html>