<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>{{title}}</title>
</head>

<body>
    {{#if user}}
    <div>
        <h3>Hola {{user.email}}!</h3>
        <form action="auth/logout" method='POST'>
            <button type="submit">Logout</button>
        </form>
    </div>
    {{/if}}
    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
    <nav class="navbar">
        
        <div class="navbar-link">
            <img src="https://www.rivasfutbolclub.com/images/logos/logorivasfc.png">
            <a href="/players">Ir a Jugadores</a>
            <a href="/garments">Prendas Deportivas</a>
            <a href="/auth/register">Registro</a>
            <a href="/auth/login">Login</a>
            <a href="/cart">Carrito</a>
        </div>
    </nav>
    <section>
        <div>
            {{!-- <h1>Rivas Fútbol Club</h1> --}}
            <h1>Nuestra Historia</h1>
        </div>
        <div>
            <p>Rivas Fútbol Club fue creado en el 2014 para desarrollar en Rivas Vaciamadrid un proyecto de fútbol que
                represente a su municipio y formar futbolistas, aspirando a ser un referente de fútbol base de Rivas
                Vaciamadrid. Para ello cuenta con profesionales de gran nivel y sobre todo con una gran vocación en
                todas las áreas.
            </p>
            <p>
                Desde el nacimiento de la idea de formar el club contamos con el apoyo de los padres de los niños que
                componen nuestro club, comenzando a trabajar con más de 120 jugadores en la temporada de creación.
                Contando a día de hoy, y en tan solo tres años, con el triple de deportistas.
            </p>
            <p>
                El año de creación del club arrancamos con seis equipos, teniendo hoy un total de dieciséis equipos
                federados desde alevines hasta la categoría de aficionado.
            </p>
        </div>
        <div>
            <img class="img-history" src="https://www.rivasfutbolclub.com/images/b5.jpg">
        </div>
    </section>


</body>

</html>