<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Modificar Jugador</title>
</head>
<body>
    <a href="/">Volver a Inicio</a>
    <a href="/players">Volver a Jugadores</a>
    <div>
        <h1>Modificar Jugadores</h1>
    </div>
    <div>
        <form action="/players/modify/{{player._id}}" method="POST" enctype="multipart/form-data">
            <div>
                <fieldset>
                    <label for"name">Nombre</label>
                    <input type="text" name="name">
                </fieldset>
            </div>
            <fieldset>
                <div>
                    <label for"dorsal">Dorsal</label>
                    <input type="number" name="dorsal">
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label for"position">Posición</label>
                    <select name="position">
                        <option>Selecciona Posición</option>
                        <option value="Delantero">Delantero</option>
                        <option value="Centro">Centro</option>
                        <option value="Portero">Portero</option>
                        <option value="Lateral derecho">Lateral Derecho</option>
                        <option value="Lateral izquierdo">Lateral Izquierdo</option>
                        <option value="Defensa">Defensa</option>
                        <option value="Portero">Portero</option>
                    </select>
                    {{!-- <input type="text" name="position"> --}}
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label for"category">Categoría</label>
                    <select name="category">
                        <option>Selecciona Categoría</option>
                        <option value="Prebenjamin">Prebenjamín</option>
                        <option value="Benjamin">Benjamín</option>
                        <option value="Alevin">Alevín</option>
                        <option value="Infantil">Infantil</option>
                        <option value="Cadete">Cadete</option>
                        <option value="Juvenil">Juvenil</option>
                    </select>
                    {{!-- <input type="text" name="category"> --}}
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label for"year">Año</label>
                    <input type="number" name="year">
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <label for"avatar">Imagen</label>
                    <input type="file" id="avatar" name="avatar">
                </div>
            </fieldset>
            <div>
                <button class="button" type="submit">Modificar Jugador</button>
            </div>
        </form>
    </div>
</body>
</html>