<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Jugadores</title>
</head>

<body>
    <a href="/">Volver a Inicio</a>

    <div>
        <a href="/players/create-player">Añadir Jugador</a>
    </div>

    <h1 class="text-title">Jugadores del Rivas Fútbol Club</h1>

    <div>
        <ul>
            {{#each players}}
            <li>
                <h3>Nombre: {{name}}</h3>
                <p>Dorsal: {{dorsal}}</p>
                <p>Posición: {{position}}</p>
                <p>Categoría: {{category}}</p>
                <p>Año: {{year}}</p>
                <img class="img-players" src="{{image}}">
                
                <div class="button-players">
                   {{!--  {{#if isLogged}} --}}
                    <div>
                        <form action="/players/{{_id}}" method="POST">
                            <button type="submit">Eliminar Jugador</button>
                        </form>
                    </div>
                    <div>
                        <a href="/players/modify/{{_id}}">
                        <button>Modificar Jugador</button></a>
                            
                        
                    </div>
                    {{!-- {{/if}} --}}
                </div>
                
            </li>
            {{/each}}
        </ul>


    </div>
</body>

</html>