<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Volver a Inicio</a>
    <a href="/auth/login">Ir a Login</a>
    <div>
        <h1>REGISTRO</h1>
        <form action="/auth/register" method="POST">
            <div>
                <fieldset>
                    <label for"email">Email</label>
                    <input type="text" name="email">
                </fieldset>
            </div>
            <fieldset>
                <div>
                    <label for"password">Contraseña</label>
                    <input type="password" name="password">
                </div>
            </fieldset>
            <div>
                <button type="submit">Enviar Datos</button>
            </div>
        </form>
        {{#if error}}
        <div class="error">
            {{error}}
        </div>
        {{/if}}
    </div>

</body>
</html>