body{
    background-color: rgb(245, 210, 210);
    padding: 30px;
    width:960px;
    margin: 0 auto;
}

h1{
    color: rgb(197, 33, 33);
}

/* .container{
    display: flex;
    flex-wrap: wrap;
} */

.text-title{
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-size: 60px;
    text-align: center;
    margin-left: 50px;
}


.button-players{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

ul{
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li{
    border: 3px solid rgb(221, 90, 90);
    list-style: none;
    text-align: center;
    margin-top: 20px;
    width: 220px;
    height:auto;
    padding: 5px;
}

.img-history{
    width: 100%;
}

.img-players{
    width: 200px;
}

